<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/siren-action-behavior.html">

<link rel="import" href="./d2l-profile-image-base.html">

<!--
`d2l-profile-image`
D2L Profile Image Hypermedia
@demo demo/d2l-profile-image.html
-->

<dom-module id="d2l-profile-image">
	<template strip-whitespace>
			<style include="d2l-profile-image-shared-styles">
				:host {
					overflow: visible;
				}
			</style>
			<d2l-profile-image-base
				id="d2l-profile-image"
				small$="[[small]]"
				medium$="[[medium]]"
				large$="[[large]]"
				x-large$="[[xLarge]]"
				first-name="[[_firstName]]"
				last-name="[[_lastName]]"
				colour-id="[[_colourId]]"
				image-url="[[_imageUrl]]"
				loading$="[[_loading]]">
			</d2l-profile-image-base>
	</template>
	<script>
		Polymer({
			is: 'd2l-profile-image',
			properties: {
				href: {
					type: String
				},
				small: {
					type: Boolean
				},
				medium: {
					type: Boolean
				},
				large: {
					type: Boolean
				},
				xLarge: {
					type: Boolean
				},
				_firstName: {
					type: String,
					value: ''
				},
				_lastName: {
					type: String,
					value: ''
				},
				_colourId: {
					type: Number,
					value: -1
				},
				_imageUrl: {
					type: String,
					value: ''
				},
				_loading: {
					type: Boolean,
					value: true
				}
			},
			behaviors: [
				D2L.PolymerBehaviors.Siren.EntityBehavior
			],
			observers: [
				'_configureProfileImage(entity)',
			],
			ready: function() {
				this.addEventListener('d2l-siren-entity-error', function() {
					this._configureProfileImage(null)
					.then(function() {
						this.set('_loading', false);
					}.bind(this));
				});
			},
			_configureProfileImage: function(entity) {
				if (!entity) {
					return Promise.resolve();
				}

				return Promise.resolve(entity).then(function(data) {

					this.set('_imageUrl', '');
					if (data.hasSubEntityByRel('https://api.brightspace.com/rels/user-profile')) {

						var userProfile = data.getSubEntityByRel('https://api.brightspace.com/rels/user-profile');
						if (userProfile) {

							var profileImage = userProfile.getSubEntityByRel('https://api.brightspace.com/rels/profile-image');
							if (profileImage && !profileImage.hasClass('default-image')) {

								var imageEntity = profileImage.getLinkByRel('https://api.brightspace.com/rels/thumbnail#regular');
								this.set('_imageUrl', imageEntity.href);
							}
						}
					}

					this.set('_firstName', '');
					var firstName = data.getSubEntityByRel('https://api.brightspace.com/rels/first-name');
					if (!firstName.hasClass('default-name')) {
						this.set('_firstName', firstName.properties.name);
					}

					this.set('_lastName', '');
					var lastName = data.getSubEntityByRel('https://api.brightspace.com/rels/last-name');
					if (!lastName.hasClass('default-name')) {
						this.set('_lastName', lastName.properties.name);
					}

					this.set('_colourId', -1);
					var selfLink = data.getLinkByRel('self').href;
					var userId = selfLink.split('/').pop();
					if (!isNaN(userId)) {
						this.set('_colourId', userId);
					}

				}.bind(this))
				.catch(function() {
					this.set('_imageUrl', '');
					this.set('_firstName', '');
					this.set('_lastName', '');
					this.set('_colourId', -1);
				}.bind(this))
				.then(function() {
					this.set('_loading', false);
				}.bind(this));
			}
		});
	</script>
</dom-module>
